@import '../../common/common';

.kim {
  font-size: 22px;
  background-color: $flagRed;
  color: $lightTextColor;
    
  .kim-box {
    padding-bottom: 30px;
    height: 550px;
  }

  .id-box {
    padding: 1px 30px 0px 0px;
    text-align: right;
    margin-bottom: -100px;

    h1 {
      margin-bottom: 5px;
      font-size: 30px;
    }
  }
  
  .kim-img {
    display: block;
    margin: auto;
    width: auto;
    height: 100%;
  }

  .add-on {
    margin-top: -510px;
  }

  .stats {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    display:block;
    margin: auto;
    width: 1000px;
    padding: 20px;
  }

  .stat {
    width: 900px;
  }

  .prog-box {
    text-align: center;
    height: 25px;
  }

  .actions {
    font-size: 40px;
    display:block;
    margin:auto;
    width: 1000px;
    padding: 20px;

    .btn {
      width: 100%;
    }
  }

  .events {
    display:block;
    margin:auto;
    padding-bottom: 20px;
    width: 1000px;

    h1 {
      text-align: center;
    }

    .event-box {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      margin:10px;
    }

    .event-txt {
      padding: 10px;
    }
    
  }
}
