@import '../common';

.footer {
  background-color: $flagBlue;
  height: 200px;
  padding: 40px;

  * {
    padding: 30px;
    font-size: 22px;
    text-align: center;
    color: $lightTextColor;
  }

}
